@media (max-width:560px) {
     #top-nav{
        justify-content: space-around;
        padding:1rem 2rem;
        font-size:.7rem;

    }
     #hamburger{
        display:flex;
     }
     #nav-menu{
        display:none;
     }
     #top-nav button{
        display:none;
     }


    #hamburger {
        display: flex;
    }
    header{
      font-size:.55rem;
    }


}